body {
    background-color: rgb(0, 0, 0);

    color: white;
    font-family: Lato;
    font-weight: 100;
    font-style: normal;

    transition: all 1.0s;
}

.header_image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    align-items: center;
    justify-content: center;

    z-index: 0;
}

.header_image_half {
    position: absolute;
    top: 0;
    bottom: 50%;
    left: 0;
    right: 0;

    padding: 0;
    align-items: center;
    justify-content: center;

    z-index: 0;
}

.header_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header_image_half img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    padding: 0px;
}

.index_main {
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
}

a {
    color: white;
}