.work_page_main {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;

    font-size: 1vw;
}

.work_player {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0vw 10vw 2vw 10vw;
}

.work_player div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player_cover img {
    width: 40%;
    object-fit: contain;
}

.work_title {
    height: 5vw;

    font-weight: 100;
    font-size: 2vw;

    margin: 0vw 0vw;
}

.song_block audio {
    width: 41%;
}

.work_section {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 2vw 0vw;
}

.work_section_title {
    width: 80%;
    font-size: 4vw;
}

.work_section_title p {
    text-align: center;
}

.lyrics_text {
    display: flex;
    width: 80%;
    justify-content: center;
    font-size: 1vw;
}

.lyrics_text div {
    margin: 0vw 3vw;
}