.albums {
    position: absolute;
    top: 50%;
    bottom: auto;
    margin-left: 10%;
    margin-right: 10%;
}

.albums_heading {
    height: 25vw;
    font-size: 8vw;
    text-align: center;
}

.album_info {
    margin-top: 10%;
    margin-bottom: 30%;
}

.album_header {
    font-weight: 900;
    font-size: 5vw;
    font-style: italic;

    margin: 0vw 0vw;
}

.album_intro {
    font-size: 2vw;
    text-align: justify;

    margin: 0vw 0vw;
}

.album_intro p {
    margin: 1vw 0vw;
}