.work_page_main {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;

    font-size: 1vw;
}

.work_player {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0vw 10vw 2vw 10vw;
}

.work_player div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player_cover img {
    width: 40%;
    min-width: 300px;
    object-fit: contain;
}

.work_title {
    height: 5vw;
    min-height: 40px;

    font-weight: 100;
    font-size: calc(10px + 1.5vw);

    margin: 0vw 0vw;
}

.song_block audio {
    width: 41%;
    min-width: 310px;
    min-height: 50px;
}

.work_section {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: calc(8px + 0.5vw);

    margin: 2vw 0vw;
}

.work_section_title {
    width: 80%;
    font-size: calc(10px + 3vw);
}

.work_section_title p {
    text-align: center;
}

.work_section_title div {
    text-align: center;
    font-size: calc(8px + 0.5vw)
}

.lyrics_text {
    display: flex;
    width: 80%;
    justify-content: center;
    font-size: calc(8px + 0.5vw);
}

.lyrics_text div {
    margin: 0vw 3vw;
}

.chinese_lyrics {
    min-width: calc(90px + 6vw);
}
