.navbar {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    position: fixed;
    background: linear-gradient(180deg, rgba(0,0,0,.8), rgba(255,0,0,0) 100%);
    top: 0;
    height: 12vw;
    left: 0;
    right: 0;

    padding-right: 1vw;
    padding-bottom: 3vw;
    margin-top: 0vw;

    transition: all 0.5s;

    z-index: 100;
}

.navbar-scrolled {
    opacity: 0;
}

.nav_opt {
    flex: 15;

    color: white;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    border-width: 0;
    font-size: 2.5vw;
    text-shadow: 1px 1px 2px rgba(0,0,0,1);

    border-radius: 0px;
}

.nav_opt p {
    margin: 0;
    padding: 2vw 0vw;

    transition: all 0.25s;
}

.nav_opt p:hover {
    background-color: rgba(255,255,255,0.2);
}

.brand {
    display: flex;
    align-items: center;
    justify-items: left;

    color: white;
    font-style: normal;
    text-decoration: none;
    border-width: 0;
    font-size: 150%;
    text-shadow: 1px 1px 2px rgba(0,0,0,1);

    height: 100%;
    padding-top: 0vw;
    padding-left: 2vw;
    flex: 65;
}

.brand_box img {
    flex: 5;
    height: 8vw;
    min-height: 0px;
    object-fit: contain;
    padding: 0% 0%;

    filter: drop-shadow(1px 1px 2px #000000);
}

.brand_box {
    display: flex;
    align-items: center;
    justify-items: left;
    height: 100%;
}

.brand_box div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1vw;
}

nav .brand .brand_box .title {
    flex: 1;
    font-weight: 100;
    font-style: normal;
    font-size: 4.6vw;
    margin: 0% 0%;

    padding-bottom: 0vw;
}

nav .brand .brand_box .tagline {
    flex: 1;
    font-size: 1.46vw;
    margin: 0% 0%;
    padding-bottom: 1vw;
}
