.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50vw;
    width: 80%;
    padding: 0% 10%;
}

.my_photo {
    flex: 4;
}

.my_photo img {
    width: 90%;
    object-fit: contain;
}

.my_intro_text {
    display: flex;
    flex-direction: column;
    flex: 5;
    font-size: 2vw;
}

.my_intro_title p {
    flex: 1;
    font-weight: 900;
    font-size: 4vw;
    margin: 0;
}

.my_intro_bio p {
    text-align: justify;
    margin: 2% 0%;
}